a {
  text-decoration: none;
}
body {
  background-color: #fbf1e3;
}
header {
  text-decoration: none;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  border: 1px;
  background-color: #fbf1e3;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.logoDiv img {
  height: 100%;
  width: 180%;
}

.headerButton {
  padding-right: 40px;
  padding-left: 40px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  color: #00c2cb;
}
.headerButton img {
  width: 150px;
  height: 150px;
}

.rightHeaderButtons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
}

.apropos{
  margin-left: 50px;
}

.contact{
  margin-left: 50px;
}

h1{
  color: #00c2cb;
}

h2{
  color: #737373;
}

p{
  margin-left: 20px;
}

form{
  margin-left: 20px;
}

.txtForm{
  width: 15%;
  margin-top: 10px;
}

.form{
  width: 15%;
  background-color: rgb(255, 255, 255);
  height: 20px;
  border-radius: 6px;
}

.button{
  background-color: #fbf1e3;
  font-size: 150% ;
  border-radius: 8px;
  border: 2px solid #737373;
  margin-top: 10px;
}

.logoFoot{
  width: 10%;
  height: 100%;
}

h3{
  color: #00c2cb;
}

footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  border: 1px;
  background-color: #fbf1e3;
  box-sizing: border-box;
  font-size: 20px;
  margin-top: 50px;
}