a {
  text-decoration: none;
}

header {
  text-decoration: none;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  border: 1px;
  border-style: solid;
  background-color: #fbf1e3;
}

.logoDiv {
}

.logoDiv img {
  height: 100%;
  width: 180%;
}

.headerButton {
  padding-right: 40px;
  padding-left: 40px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  color: #00c2cb;
}
.headerButton img {
  width: 150px;
  height: 150px;
}

.rightHeaderButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

body{
    background-color: #fbf1e3;
}
h1{
    color: #00c2cb;
    font-size: 50px;
}
h2{
  color: black;
  font-size: 50px;
}
h3{
    color: #737373;
}
p{
    color: #737373;
}
.destination img{
    border-radius: 50%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
span.destination{
    margin: 15px;
    display: inline-block;
    box-sizing: border-box;
    width: 570px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
div.image{
  position: relative;
}
div.reservez{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
span.destination:hover .image{
  opacity: 0.3;
}
span.destination:hover .reservez{
  opacity: 1;
}