body {
  background-color: #fbf1e3;
}
a {
  text-decoration: none;
}

header {
  text-decoration: none;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  border: 1px;
  background-color: #fbf1e3;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.logoDiv img {
  height: 100%;
  width: 180%;
}

.headerButton {
  padding-right: 40px;
  padding-left: 40px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  color: #00c2cb;
}
.headerButton img {
  width: 150px;
  height: 150px;
}

.rightHeaderButtons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
}

.panierElem {
  margin: 15px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  font-size: 45px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.logoFoot{
  width: 10%;
  height: 100%;
}

h3{
  color: #00c2cb;
}

footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  border: 1px;
  background-color: #fbf1e3;
  box-sizing: border-box;
  font-size: 20px;
  margin-top: 50px;
}